/* برای صفحه‌های کوچک‌تر از 576px */
@media (max-width: 575.98px) {
  .responsive-table-container {
    max-width: calc(100vw - 25px);
    overflow-x: auto;
  }
}

/* برای صفحه‌های بزرگ‌تر یا مساوی 576px */
@media (min-width: 576px) {
  .responsive-table-container {
    max-width: calc(100vw - 250px);
    overflow-x: auto;
  }
}



@media (max-width:740px) {
  .navbar>.container-fluid {
    justify-content: center !important;
  }
}